#full{
    background-image: url("../images/photo.jpeg");
    background-size: cover;
    height: 50vh;
    background-position: center;
    background-attachment: fixed;
}
.searching{
    padding-top: 150px;
    text-align: center;
    padding-left: 500px;
}