
              <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- Navbar brand -->
        <a class="navbar-brand">MY GALLERY</a>
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <ul class="navbar-nav mr-auto">
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Categories</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>

          </ul>

        </div>

      </nav>
